"filetypes": [
    "rad"
]

"name": "Ramses"
"scopeName": "source.ramses"

"patterns": [
    {
        "match": ";.*$"
        "name": "comment.line"
    }
    {
        "match": "^\\s*([A-Za-z\\$\\._\\?][0-9A-Za-z_\\$\\#@~\\.\\?]*)\\s*:"
        "name": "entity.name.function.label"
    }
    {
        "match": "(?i)\\b(STR|LDR|ADD|OR|AND|NOT|SUB|NEG|SHR|HLT)"
        "name": "keyword.operator"
    }
    {
        "match": "(?i)\\b(JMP|JN|JZ|JC|JSR)"
        "name": "keyword.control"
    }
    {
        "match": "(?i)\\b(\s[ABX]\s)"
        "name": "variable.register"
    }
    {
        "match": "(#[0-9]+)"
        "name": "constant.numeric"
    }
    {
        "match": "([0-9]+)"
        "name": "storage"
    }
]
